<!-- views/partials/nav_user.ejs -->
<nav class="bg-blue-600 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <a href="/" class="text-white text-xl font-bold">Sendmate</a>
        <ul class="flex space-x-4">
            <li><a href="/dashboard" class="text-white">Dashboard</a></li>
            <li><a href="/logout" class="text-white">Logout</a></li>
            <li><a href="/" class="text-white">Home</a></li>
        </ul>
    </div>
</nav>